@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
}

@layer components {
  .column {
    @apply w-9 md:w-10 bg-soft-red rounded-sm hover:opacity-60;
  }
  .column-current {
    @apply w-9 md:w-10 bg-cyan rounded-sm hover:opacity-60;
  }
  .label {
    @apply bg-dark-brown rounded-md p-2 text-xs text-pale-orange hidden fixed translate-y-[-2.5rem];
  }
}
